/* Estilos globales */
body {
    background-color: #ffffff; /* Fondo blanco */
    color: #333333; /* Texto oscuro */
    font-family: Arial, sans-serif;
}

/* Barra de navegación */
.navbar {
    background-color: #003366; /* Azul oscuro */
    border-bottom: 2px solid #002244; /* Borde más oscuro */
}

.navbar-brand, .nav-link {
    color: #ffffff !important; /* Texto blanco */
}

    .nav-link:hover {
        color: #aad3e9 !important; /* Azul claro al pasar el mouse */
    }

/* Botones */
.btn-primary {
    background-color: #003366; /* Azul oscuro */
    border-color: #003366; /* Azul oscuro */
}

    .btn-primary:hover {
        background-color: #002244; /* Azul más oscuro al pasar el mouse */
        border-color: #002244; /* Azul más oscuro al pasar el mouse */
    }

/* Pie de página */
.footer {
    background-color: #003366; /* Azul oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 20px 0;
    text-align: center;
}

    .footer a {
        color: #aad3e9; /* Azul claro para enlaces */
    }

        .footer a:hover {
            color: #ffffff; /* Texto blanco al pasar el mouse */
        }
